[submodule "buildroot"]
	path = buildroot
	url = https://github.com/buildroot/buildroot.git
[submodule "final-project-assignment-anuh"]
	path = final-project-assignment-anuh
	url = git@github.com:anuh7/final-project-assignment-anuh.git
